/* Resetando estilos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definindo o estilo básico do corpo da página */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* Barra lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.headerColumn {
  display: flex;
  flex-direction: column;
}

.perfil {
  text-align: center;
  margin-bottom: 30px;
}

.perfil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.perfil h1 {
  font-size: 18px;
  margin: 5px 0;
}

.perfil p {
  font-size: 14px;
  color: #ccc;
}

.navMenu ul {
  list-style-type: none;
}

.navMenu li {
  margin: 15px 0;
}

.navMenu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  display: block;
  transition: background-color 0.3s;
}

.navMenu a:hover {
  background-color: #575757;
}

/* Estilo para as seções principais */
main {
  margin-left: 270px; /* Espaço para a sidebar */
  width: calc(100% - 270px);
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 5px 0;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 201, 140);
}

/* Rodapé */
footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: #333;
  color: white;
  width: 100%;
}

/* Estilos para telas pequenas */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  main {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}
